<!DOCTYPE HTML>
<html>
<head>
  <title>top page</title>
  <meta http-equiv="Content-Type" 
    content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
</head>

<!--▼リスト3-13-->
<body class="container">
  <h1 class="display-4 mb-4">Hello page</h1>
  <div class="alert alert-primary" th:if="${flag}">
    <h5>Alert</h5>
    <p th:text="${msg}"></p>
  </div>
  <div class="card" th:unless="${flag}">
    <div class="card-body">
      <h5 class="card-title">Message</h5>
      <p class="card-text" th:text="${msg}"></p>
    </div>
  </div>
</body>
</html>